.container {
	padding-top: 50px;
}

.title {
	font-size: 52px;
	margin-bottom: 50px
}


.btn-group {
	margin-bottom: 30px;
}


/*YOUR CODE HERE*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


.buttonadd{
  float: right !important; 
  padding-right: 50px; 
  padding-bottom: 30px;
}


.modaldiv{
display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
top: 0;
left: 0 ;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0);*/ /* Fallback color */
  background-color: rgba(0,0,0,0.4);

}

.modal-content {
  

  margin: 15% auto; 
width: 50% !important;

  padding: 18px;
  border: 1px solid #888;
  width: 80%; 

}
  .closebtn {
    float: right;
  color: #aaa;
  
  font-size: 28px;
  font-weight: bold;
}

.closebtn:hover, .closebtn:focus{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.btnadd{
  float: right; padding-left: 10%; padding: 30px;
}

.submitdiv{
  margin-left: 40%; 
  padding-top: 5%;
}

.spacebottom{
  padding-bottom: 15px;
}

.padleft{
  padding-left: 20% !important;
}

.floatright{

  float: right;
}

.hoverchange:hover{
  background-color: cornsilk !important;

}

.dropdown{
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: cornsilk;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

