
.App {
  text-align: center;
  max-height: 120%;
  max-width: 100%;
  color: white;
  background-image: linear-gradient(black , #0e408f) !important;
  
}

html, body, #root, .App {
  height: 115%;
  min-height: 100%;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.banbg{
 /* background-image: url(img/banphase.png);  */
margin-top: 0.5%;
  width: 65%;
  height: 65%;

 
}

.banphoto{
  position: absolute;
  left: 45.0%;
  top: 28.5%;
  width: 10.3%;
  height: 30.0%;
}

.banui{
  position: absolute;
  left: 46.5%;
  top: 60.0%;

}

.quiz{
  
  padding: 20% !important;

  border: solid 5px !important;
  border: gold solid 6px !important;
}

.quiz-ingame{
  padding-right: 20% !important;
  padding-left: 20% !important;
  padding-bottom: 3%;
  padding-top: 3%;
  border: solid 5px !important;
  border: gold solid 6px !important;

}

.question{
  padding: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
max-width: 100%;
max-height: 100%;
border: 25px solid transparent;
border-image: url(img/ui/goldframe.png) 30 round;
 
}

.options{
  margin-top: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 22px;


}

.answers{
  background-color: #282c34;
  cursor: pointer;
  margin: 16px;
  padding: 8%;
  border: 25px solid transparent;
  border-image: url(img/ui/purpleframe.png) 30 round;
 
}

.answers:hover{
  background-color: grey;

}

.correctans{
  background-color: lime !important;
  border: 25px solid transparent;
  border-image: url(img/ui/greenframe.png) 30 round;
}

.wrongans{
  background-color: red !important;
  border: 25px solid transparent;
  border-image: url(img/ui/redframe.png) 30 round;
}

.nextbutton{
  text-align: right;
  padding-top: 1%;
}

.questiontxt{
  font-style: bold;

}

.score{
  text-align: left;
  margin-bottom: 2%;
}



.stackdown{
  margin-top: 5%;
  margin-bottom: 5%;

}

.correctansrad{
  margin-top: 15%;
  margin-bottom: 15%;
}

.correctansrad1st{
  margin-bottom: 15%;

}



.corransdiv{
  padding-top: 1.5%;
}
.corransnotif{
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
}

.invisible{
  color: white;
}

.centerize{
  padding-left: 40%;
}


.downtocenter{
  padding-top: 10%;
}



button:active {
  outline: none;
  border: none;
  }

.menubuttons{
  margin-top: 8%;
  margin-bottom: 8%;
  

}

.menubuttons button{
  font-size: 20px;
  z-index: 1;
  font-family: Arial;
  color: #d0dcff;
  width: 40%;
  padding-top: 4%;
  padding-bottom: 4%;
  /* background-color: royalblue; */
  background-color: transparent;
  background-size: 100%;
  border: none;

}

.bluebtn{
  background-image: url('./img/ui/bluebutton.png');
  background-repeat: no-repeat;
}

.bluebtn:hover{
  cursor: pointer;
  background-image: url('./img/ui/bluebuttonhl.png');
  
}

.bluebtn:focus{
  background-image: url('./img/ui/bluebutton.png');
  outline: none;
  box-shadow: none;
}


.goldbtn{
  background-image: url('./img/ui/goldbutton.png');
  background-repeat: no-repeat;
}

.goldbtn:hover{
  cursor: pointer;
  background-image: url('./img/ui/goldbuttonhl.png');

}

.goldbtn:focus{
  outline: none;
  box-shadow: none;
  background-image: url('./img/ui/goldbutton.png');
}

.mutebtn{
  padding-right: 1%;
  cursor: pointer;
  position: relative;
  float: right;
  z-index: 2 !important;
}




.qovlogo{
  position: relative;
  z-index: 1 !important;
  width: 100%;
  height: 100%;
}

.qovlogo img{
  padding-top: 5%;
  width: 50%;
}


 .titleimg {
 position: fixed;
 left: 0;
 top: 0;
 display: block;
 height: 100%;
 width: 110%;
 z-index: 0;
 max-height: 100vh;
 margin: auto;
}

.difficulties{
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.diffbuttons{
  border: white solid;
  min-width: 25%;
  cursor: pointer;
  background: linear-gradient( rgba(255, 242, 242, 124), rgba(255, 0, 0, 0));
 
}

.diffbuttons:hover{
  border: gold solid;
}

.diffbuttons img{
  width: 162px;
  height: 166px;
}

.headingtxt{
  font-size:  50px;
}

.normaltxt{
  color: antiquewhite;
  font-size: 30px;
}


.optionslabel{
margin: 1%;
}

.optionsgroup input{
  width: 80%;
}


.results-container{
  padding-top: 2%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  border-bottom: goldenrod solid;
}

.results-item{
  margin-bottom: 1%;
  min-width: 40%; 
}

.results-title{
  padding-top: 3%;
  padding-bottom: 4%;
}


.quizmaker-container{
  display: flex;
  justify-content: center;
  align-content: space-around;
}


.quizmaker-submitbtn{
  flex-grow: 2;
}

.quizmaker-answers{
 padding-left: 8%;
 padding-bottom: 2%;
}

.radiobtns{
  margin: 1.2%;
  
}

.quizmaker-question{
  padding-bottom: 2%;
  padding-left: 14%;
 }


 .quizmaker-difficulty{
   float: left;
   margin-left: 2%;
   margin-bottom: 1%;
 }

 .custom-radio{
   padding-bottom: 1%;
 }

 .txtarea{
   margin-left: 4%;
 }

.answeroptions-label{
  padding-top: 1%;
}

.greentext{
  color: #28d15d;
}

.formcomp{
  margin-top: 1%;
  margin-bottom: 1%;
  

}








* DEMO STYLES */
.nav {
  padding: 30px 0;
  background-color: #222;
}
.nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
  border: 1px rgba(255,255,255,0.5) solid;
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;
}
.nav a.active {
  background-color: #61DAFB;
  color: #222;
}
section {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
    
}
.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}

/* Card */
.card-container {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
.card .index {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}
.card .price {
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
}
.card .details {
  position: relative;
}
.card .features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card .features li {
  padding-left: 24px;
  margin-right: 10px;
  display: inline-block;
}
.card .features li span {
  display: none;
}
.card .features li.icon-bed {

  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-bath {

  background-size: auto 100%;
  background-repeat: no-repeat;
}
.card .features li.icon-car {

  background-size: auto 100%;
  background-repeat: no-repeat;
}

